.avatar-component {
  width: 120px;

  &__img-content {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    overflow: hidden;
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
}
